@import "../vendor/base/grids";

.postcard {
	&__wrapper {
		@include container();
	}
	&__container {
		width: 100%;
		float: left;
		margin: 1%;
		@include breakpoint($tablet) {
			width: 48%;
		}
		@include breakpoint($pc) {
			width: 31%;
		}
	}
} 
