@import "./vendor/base/typography";
@import "./vendor/base/grids";

.card {
	&__container {
		width: 100%;
	    height: auto;
	    background-color: #1c78ca;
	    border-radius: 10px;
	    padding: 15px 20px;
	    color: #fff;
	    font-family: $Graphik;
	    
	    @include breakpoint($tablet) {
			height: 205px;
		}
		@include breakpoint($pc) {
			height: 205px;
		}
	}

	&__title {
		line-height: normal;
		font-size: 20px;
		font-weight: 800;
	}
	&__body {
		font-size: 16px;
		margin-top: 12px;
		word-spacing: 2px;
		line-height: 1.3;
		text-align: left;

	}
}